<section id="end-page">
  <div class="container">
    <div class="logo w-100">
      <img src="../../../assets/imagens/logo-nomos.png" alt="Logo Nomos">
    </div>

    <h3 class="title">Como podemos te ajudar?</h3>
    <button class="btn mt-5" data-toggle="modal" data-target="#form">Entrar em contato</button>

    <h3 class="title">Endereços Uberaba e região</h3>
    <p class="text-descricao">Rua Antônio Moura Borges Fuzaro, Número 96, Residencial 2000, Uberaba - MG</p>
    <p class="text-descricao">Rua Dr Furiati, Número 356, Centro, Conquista - MG</p>

    <h3 class="title">E-mail's</h3>
    <p class="text">contato@gruponomos.com</p>

    <h3 class="title">Telefones - Uberaba e região</h3>
    <p class="text tel d-inline mr-5">Contato: (34) 99723-0808</p>

    <h3 class="title">Redes sociais</h3>
    <a class="icon" href="#"><img src="../../../assets/icons/footer/face.png" alt="Facebook"></a>
    <a class="icon" href="#"><img src="../../../assets/icons/footer/twitter.png" alt="Twitter"></a>
    <a class="icon" href="https://www.instagram.com/gruponomos/" target="_blank"><img src="../../../assets/icons/footer/insta.png" alt="Instagram"></a>
    <a class="icon" href="#"><img src="../../../assets/icons/footer/in.png" alt="LinkedIn"></a>

    <h3 class="title">Consulte nosso registro de marca (INPI) clicando abaixo:</h3>
    <a class="text tel d-inline mr-5" href="../../../assets/arquivos/CERTIFICADO_DO_REGISTRO_DA_MARCA_GRUPO_NOMOS.pdf" target="_blank">Processo nº: 926783882</a>
  </div>
</section>

<footer>
  <p class="footer-infos">CNPJ 42.216.511/0001-95</p>
  <p class="footer-infos m-0">Empresa habilitada e registrada no Conselho Regional de Contabilidade de Minas Gerais
    Registro CRC-MG 015484/O-7</p>
</footer>

<app-modal [modalInfos]="false" [modal]="modal"></app-modal>
