<section id="end-page">
    <div class="container">
        <div class="logo w-100">
            <img src="../../../assets/imagens/logo-nomos.png">
        </div>

        <h3 class="title">Como podemos te ajudar?</h3>
        <button class="btn mt-5" data-toggle="modal" data-target="#form">Entrar em contato
        </button>

        <h3 class="title">Endereços Uberaba e região</h3>
        <p class="text-descricao">Rua Antônio Moura Borges Fuzaro, Número 96, Residencial 2000, Uberaba - MG</p>
        <p class="text-descricao">Rua Aldo Furiati, Número 54, Bisinoto, Conquista - MG</p>
        

        <h3 class="title">E-mail</h3>
        <p class="text">contato@gruponomos.com</p>

        <h3 class="title">Telefone - Uberaba e região</h3>
        <p class="text tel d-inline mr-5">(34) 99294-7920</p>
        <h3 class="title">Telefone - Manhuaçu e região</h3>
        <p class="text tel d-inline">(33) 98858-4683</p>

        <h3 class="title">Redes sociais</h3>
        <a class="icon" href="#"><img src="../../../assets/icons/footer/face.png"></a>
        <a class="icon" href="#"><img src="../../../assets/icons/footer/twitter.png"></a>
        <a class="icon" href="https://www.instagram.com/gruponomos/" target="_blank"><img src="../../../assets/icons/footer/insta.png"></a>
        <a class="icon" href="#"><img src="../../../assets/icons/footer/in.png"></a>
    </div>
</section>

<footer>
    <p class="footer-infos ">CNPJ 42.216.511/0001-95 </p>
    <p class="footer-infos  m-0">Empresa habilitada e registrada no Conselho Regional de Contabilidade de Minas Gerais
        Registro CRC-MG 015484/O-7</p>
</footer>

<app-modal [modalInfos]="false" [modal]="modal"></app-modal>