<section id="lgpd">
    <div class="d-flex">
        <div class="box-text"><div class="container">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1 col-xl-4">

                </div>
                <div class="col-sm-10 col-md-10 col-lg-10 col-xl-7">
                    <h4 class="title">Perícia computacional forense</h4>
                    <p class="text">Confira um material <br>
                        exclusivo que preparamos<br>
                        para você.</p>
                    <div class="botoes">
                        <app-buttons *ngFor="let button of buttons" [button]="button"></app-buttons>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1">

                </div>
            </div>
        </div>
            

        </div>
        <div class="box-img">
            <img src="../../../assets/imagens/lgpd.png">
        </div>
    </div>
</section>