<section id="schedule-time">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-5 col-xl-5">
                <h4 class="title">Agende uma conversa</h4>
                <p class="text">Converse com nossos
                    especialistas por <br>
                    video chamada.</p>
                    <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5534992947920" target="_blank"><button class="btn more-infos">Saiba mais</button></a>
            </div>
            <div class="imagem col-md-7 col-lg-7 col-xl-7">
                <img class="w-100" src="../../../assets/imagens/schedule-time.png">
            </div>
        </div>

    </div>
</section>
