<section id="slide">
  <video autoplay muted loop>
    <source src="../../assets/reversed-video.mp4" type="video/mp4">
  </video>

  <div class="w-100 h-100 content">
    <div class="container">
      <div class="row">
        <div class="col-10 pl-5 pr-0">
          <p>Primeiro laboratório de <br>
            perícia contábil forense e crimes
            cibernéticos de Minas Gerais</p>
          <a class="btn more-infos" href="#about-us">Saiba mais</a>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </div>
  <div class="whatsapp">
    <img (click)="redirect()" src="../../assets/imagens/whatsapp.png" alt="WhatsApp">
  </div>
</section>
