<section id="operating-segments">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-8 p-0">
                <h4 class="title">Segmentos de atuação</h4>
                <p class="text">Perícia Judicial e Extrajudicial do Juízo
                    para pessoas físicas e jurídicas de direito privado 
                    e pública com e sem finalidade lucrativa</p>

                    <div class="card-box">
                        <p class="card">Contábil</p>
                        <p class="card">Trabalhista</p>
                        <p class="card">Recuperação Judicial e Falência</p>
                        <p class="card">Previdenciária</p>
                        <p class="card">Crimes Computacionais e Cibernéticos</p>
                        <p class="card">Financeira</p>
                        <p class="card">Tributária</p>
                    </div>

                <p class="sub-text">Consultoria e Auditoria Técnica Especializada em Ciências Contábeis, 
                    Financeira-Econômica e Processual para pessoas físicas e jurídicas 
                    de direito privado e pública com e sem finalidade lucrativa.</p>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
    
</section>