<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-6 col-xl-5">
                <h4 class="title">Clientes</h4>
                <p class="text">Alguns dos clientes que
                    confiam no Grupo Nomos</p>
                    <img class="seta-cinza" src="../../../assets/icons/seta-cinza.svg">
            </div>
            <div class="col-2 space"></div>
            
            <div class="clientes col-md-5 col-lg-6 col-xl-5">
                <a href="https://www.cnj.jus.br/corregedoria/justica_aberta/?" target="_blank">
                    <img class="cliente" src="../../../assets/imagens/clientes/CNJ.png">
                </a>
                <a href="https://www3.comprasnet.gov.br/sicaf-web/index.jsf" target="_blank">
                    <img class="cliente" src="../../../assets/imagens/clientes/SICAF.png">
                </a>
                <a href="https://www.stj.jus.br/sites/portalp/Inicio" target="_blank">
                    <img class="cliente" src="../../../assets/imagens/clientes/STJ.png">
                </a>
                <a href="https://www.tjmg.jus.br/portal-tjmg/" target="_blank">
                    <img class="cliente" src="../../../assets/imagens/clientes/tribunal-estado-mg.png">
                </a>
                <a href="https://www.mpmg.mp.br/portal/" target="_blank">
                    <img class="cliente" src="../../../assets/imagens/clientes/MPMG.png">
                </a>
                <a href="https://portal.stf.jus.br/" target="_blank">
                    <img class="cliente" src="../../../assets/imagens/clientes/stf.png">
                </a>
                <a href="https://www.gov.br/pt-br" target="_blank">
                    <img class="cliente" src="../../../assets/imagens/clientes/gov.png">
                </a>
                <a href="https://www.cialdnb.com/pt-br/empresas/?id=60e75449698f1444bfb76423">
                    <img class="cliente" src="../../../assets/imagens/clientes/duns.png">
                </a>
            </div>
        </div>
        
    </div>
</section>