<section id="consultation">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-7 col-xl-6">
                <h4 class="title">Consulta</h4>
                <p class="text">Somos cadastrados <br>
                    no CFC e no CRC.</p>
            </div>
            <div class="col-1 space"></div>
            <div class="logos col-md-5 col-lg-5 col-xl-5">
                <div class="box-crcmg">
                    <a href="https://cadastro.crcmg.org.br/SPW/ConsultaCadastral/TelaConsultaPublicaCompleta.aspx" target="_blank">
                        <img class="crcmg"
                        src="../../../assets/imagens/CRC.png">
                    </a>
                   
                </div>
                <div class="box-cfc">
                    <a href="https://www1.cfc.org.br/sisweb/Registro/ConsultaCNPC"  target="_blank"> 
                        <img class="cfc"
                        src="../../../assets/imagens/CFC.png">
                    </a>
                </div>
            </div>
        </div>
        <img class="seta"
            src="../../../assets/icons/seta-branca.svg">
    </div>
</section>