#infos {
  padding: 8vh 0;

  background: linear-gradient(to bottom, #FBF6EE 0%, #FBF6EE 38%, #FFFFFF 38%, #FFFFFF 100%);

}

p {
    font-family: Gilroy-BoldLight, sans-serif;

    color: #4C464D;

    font-size: 28px;
    line-height: 50px;
}

img {
    border-radius: 5% 5% 0 0;
}