<section id="infos">
    <div class="container">
        <div class="row">
            <div class="col-12 pr-5 pl-5">
                <p class="mb-5">Oferecemos suporte completo e especializado na elaboração
                    de prova técnica pericial, seja na produção antecipada de provas, assistência técnica em disputas
                    judiciais
                    e extrajudiciais, avaliação
                    de resultados de liquidação de sentença ou mesmo na contratação
                    de perícia voluntária ou autônoma para resolução de controvérsias
                    de forma amistosa.</p>

                <div class="foto mt-5 mb-5">
                    <img class="w-100 pl-1 pr-1 foto"
                        src="../../../assets/imagens/infos-img.png">
                </div>


                <p class="mb-3">Entendemos que a prova fática é necessária e muitas vezes decisória
                    em processos judiciais e extrajudiciais. Nossos profissionais possuem forte atuação no meio forense
                    e experiência para atuação direta
                    em casos complexos e sensíveis, que demandem especialistas
                    em finanças, contabilidade, tributos, administração, tecnologia
                    e especialistas em investigação. </p>

                <img class="mt-5 mb-5 logo"
                    src="../../../assets/imagens/logo-nomos-circle-black.png">

                <p class="mt-3"> Os nossos relatórios, laudos e pareceres técnicos também podem
                    ser utilizados no conjunto probatório em processos extrajudiciais,
                    em especial, os processos administrativos de natureza tributária
                    ou exigidos por autarquias governamentais, tribunais de contas, controladorias ou entidades
                    reguladoras.</p>
            </div>

        </div>

    </div>
</section>