@font-face {
  font-family: Gilroy-Bold;
  src: url("../assets/fontes/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: Gilroy-BoldLight;
  src: url("../assets/fontes/Gilroy-Light.otf");
}

* {
  font-family: "Gilroy-Bold", sans-serif;

}
