<section id="certificate">
    <div class="container">
        <h4 class="title">Certificado Duns</h4>
        <div class="row">
            <div class="col-12 col-lg-7 col-xl-6">
                <p class="text">Possuímos o certificado Duns
                    que indica profissionalismo e
                    idoneidade junto a contratantes,
                    credores e investidores.</p>
            </div>
            
            <div class="col col-xl-1 space"></div>
            <div class="col-12 col-lg-3 col-xl-5 text-center">
                <img class="duns-img text-center w-75" src="../../assets/imagens/certificado-duns.png">
            </div>
            
        </div>
        <img class="seta-cinza" src="../../assets/icons/seta-cinza.svg">
    </div>
</section>