<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-6 col-lg-6 col-xl-5">
                <p class="text">Somos totalmente <br>
                    dedicados a oferecer <br>
                    serviços especializados:</p>
                <img class="seta-cinza mt-4"
                    src="./../assets/icons/seta-cinza.svg">
            </div>
            <div class="col-1 space"></div>
            <div class="areas col-md-12 col-lg-6 col-xl-6">
                    <img class="first"
                    src="./../assets/imagens/servicos-pericia.png">
                    <img class="second"
                    src="./../assets/imagens/servicos-disputa.png">
                    <img class="third"
                    src="./../assets/imagens/servicos-administrativos.png">
                    <img class="fourth"
                    src="./../assets/imagens/servicos-arbitrais.png">
                <!-- <img class="teste"
                    src="https://cdn.discordapp.com/attachments/932410485339467808/932470315550929026/unknown.png"> -->
                    
                    
                    
            </div>

        </div>

    </div>
</section>