#about-us {
    padding: 12vh 0;

    background-color: #1F1820;
}

.title {
    margin-bottom: 4rem;
    
    color: #A36F50;
    font-size: 28px;
    line-height: 12px;

}
.text {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 60px;
    text-align: justify;
}
.img {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}