<section id="about-us">
    <div class="container">
        <h4 class="title">Sobre nós</h4>
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-7">
                <p class="text">Grupo Nomos Inteligência em perícia
                    contábil forense, nasceu com o propósito
                    de oferecer as melhores soluções
                    em perícia contábil e serviços forenses,
                    para atendimento em processos judiciais
                    e extrajudiciais, em todas as fases
                    processuais e demandas.</p>
            </div>
            <div class="col-1"></div>
            <div class="img col">
                <img src="../../assets/imagens/logo-nomos-circle-white.png">
            </div>
        </div>

    </div>

</section>