#services-actions {
    padding: 6vh 0;

    background-color: #1F1820;
}


.title {
    margin-bottom: 4rem;
    
    color: #A36F50;
    font-size: 28px;
    line-height: 12px;
}

// .collapse {
//     transition: transform .35s, opacity .35s, max-height .9s ease-out;
//     opacity: 0;
//     max-height: 0;
//     transform: translateY(100%);
//     display: block !important;
  
//     &.show {
//       opacity: 1;
//       max-height: 600px;
//       transform: translateY(0);
//     }
// }